/* Add your CSS code below */
a {
  color: red;
  font-style: bold;
  text-decoration: none;
}
.message__time {
  font-size: 0.9rem;
}
.message message--unread {
  border-left-color: blue;
}
.message:first-child {
  opacity: 0.5;
}
