/* Add your own CSS code below */
.heart {
  color: red;
}
@media (min-width: 992px) {
  .hero__title {
    font-size: 50px;
  }
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 767px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .views {
    display: flex;
    align-items: center;
  }
  .view-list__item {
    margin-left: 2%;
  }
  .views__all {
    margin-left: auto;
  }
}
.main-article {
  max-width: 50em;
  margin: auto;
  line-height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
